/* CSS kustom untuk scrollbar */
.os-theme-dark .os-scrollbar {
    background-color: #000000; /* Warna latar belakang scrollbar */
}

.os-theme-dark .os-scrollbar-thumb {
    background-color: #555; /* Warna pegangan scrollbar */
}

.os-theme-dark .os-scrollbar-thumb:hover {
    background-color: #777; /* Warna pegangan scrollbar saat hover */
}

.os-theme-dark .os-scrollbar-track {
    background-color: #ffffff; /* Warna latar belakang track scrollbar */
}
